# .gitignore file for picosdk-java-examples repository
# Untracked files/folders to ignore.

# Windows platforms

**/*.dll
**/*.lib

# Linux/Mac OS X platforms

**/*.so
**/*.dylib

# All platforms

**/*.txt
**/*.h
**/desktop.ini
jna.jar

# shared/PicoScope project

shared/PicoScope/build/**

# PicoScope2000JNA project
/ps2000/PicoScope2000JNA/build/
/ps2000/PicoScope2000JNA/dist
/ps2000/PicoScope2000JNA/nbproject/private/

# PicoScope2000AJNA project
/ps2000a/PicoScope2000AJNA/build/
/ps2000a/PicoScope2000AJNA/dist
/ps2000a/PicoScope2000AJNA/nbproject/private/

# PicoScope3000AJNA project
/ps3000a/PicoScope3000AJNA/build/
/ps3000a/PicoScope3000AJNA/dist
/ps3000a/PicoScope3000AJNA/nbproject/private/

# PicoScope4000JNA project
/ps4000/PicoScope4000JNA/build/
/ps4000/PicoScope4000JNA/dist
/ps4000/PicoScope4000JNA/nbproject/private/

# PicoScope4000AJNA project
/ps4000a/PicoScope4000AJNA/build/
/ps4000a/PicoScope4000AJNA/dist
/ps4000a/PicoScope4000AJNA/nbproject/private/

# PicoScope5000JNA project
/ps5000/PicoScope5000JNA/build/
/ps5000/PicoScope5000JNA/dist
/ps5000/PicoScope5000JNA/nbproject/private/

# PicoScope5000AJNA project
/ps5000a/PicoScope5000AJNA/build/
/ps5000a/PicoScope5000AJNA/dist
/ps5000a/PicoScope5000AJNA/nbproject/private/

# PicoScope6000JNA project
/ps6000/PicoScope6000JNA/build/
/ps6000/PicoScope6000JNA/dist
/ps6000/PicoScope6000JNA/nbproject/private/

# USBTC08JNA project
/usbtc08/USBTC08JNA/build/
/usbtc08/USBTC08JNA/dist
/usbtc08/USBTC08JNA/nbproject/private/

# USBDRDAQJNA project
/usbdrdaq/USBDRDAQJNA/build/
/usbdrdaq/USBDRDAQJNA/dist
/usbdrdaq/USBDRDAQJNA/nbproject/private/

# USBPT104JNA project
/usbpt104/USBPT104JNA/nbproject/private/
/usbpt104/USBPT104JNA/build/
/usbpt104/USBPT104JNA/nbproject/private/
/usbpt104/USBPT104JNA/dist/